* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  overflow: visible;
  font-weight: 400;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background-color: #ddd;
  position: relative;
  color: #404040;
}

html, body{
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.hero-container {
  position: relative;
  height: 100vh;
  background-image: url('background.jpg');
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  
}
svg {
  display: block;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.about-me-container{
  margin-top: 100px;
  background-image: url('background.jpg');
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

.hero-content {
  text-align: center;
  color: #fff;
  margin: auto 0;
}

.hero-content h1 {
  font-size: 70px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 60px;
}

.hero-content h3{
  font-size: 64px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-family: 'Prompt', sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  line-height: 60px;
  margin-top: 20px;
}

.hero-content p {
  font-size: 1px;
  padding: 0 50px;
  font-weight: 200;
  letter-spacing: 30px;
}

.hero-picture img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid black;
  
}

#invBtn{
  display: none;
}

#invBtn2{
  display: none;
}

.hero-picture {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}




.over {
  width: 100%;
  height: 100%;
 background-color: #000;
 opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc((100% + 35%)/2);
  width: 100%;
  left: 0;
}

.icons-wrap{
  display: flex;
  width: 10%;
  justify-content: space-between;
}


.icons svg {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  
}

.icons svg:hover{
  fill: #db3c8c !important;
 
}


.projects-container{
  position: relative;
  padding: 60px 0;
}

.projects-title{
  position: relative;
  padding-bottom: 40px;
}

.projects-container h2 {
  font-size: 56px;
  text-align: center;
  margin-bottom: 40px;
  color: #042d70;
  font-weight: 400;
  line-height: 20px;
  opacity: 0;
}

.projects-container h4{
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color: #db3c8c;
  letter-spacing: 20px;
  opacity: 0;
}

.projects-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabs ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.tabs button {
  font-size: 22px;
  font-weight: 400;
  margin-top: 40px;
  line-height: 40px;

}

.tabs {
  /* background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
 width: 30%;
 padding-left: 20px;
}



.tabcontent {
  display: flex;
  justify-content: space-evenly;
}

.specific-proj-flex{
  display: flex;
  align-items: center;
}

.project-picture-grocery {
  background-image: url('grocery.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 350px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.project-picture-calculator {
  background-image: url('calculator.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.project-picture-food {
  background-image: url('food.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #042d70;
  border-radius: 10px;
  padding: 50px 0;
  position: absolute;
  bottom: -100px;
  right: 400px;
  z-index: 0;
  width: 50%;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.technologies{
  padding-bottom: 40px;
}

.technologies ul li::before {
  content: "\2022";
  color: #db3c8c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.technologies ul {
  padding-left: 20px;
  width: 60%;
  margin: 0 auto;
}

.technologies ul li{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #fff;
}

.project-description {

  text-align: center;
  padding: 0 50px;
  padding-bottom: 20px;
}

.project-description p{
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.projects{
  width: 70%;
 
}

.projects h3 {
  margin-bottom: 10px;
  color: #db3c8c;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #042d70;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #042d70;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.tabs button.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Style the tab content */
.tabcontent {
  display: none;
  animation: fadeEffect 1s;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.project-link a{
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid #db3c8c;
  background-color: #db3c8c;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

.project-link a:hover{
  color: #db3c8c;
  background-color: transparent;
}

.footer {
 height: 100vh;
  position: relative;
  background-image: url('bgfooter.jpg');
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info{
  display: flex;
  justify-content: space-between; 
  justify-content: center;
  width: 80%;
  padding-top: 50px;
}

.span{
  background-color: #042d70;
  padding: 40px 20px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  min-height: 250px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #db3c8c;
}

.span-wrap{
  padding: 0 10px;
  width: 33%;
  
}

.span-pink{
  position: absolute;
  right: -150px;
  top: 50%;
  transform: rotate(90deg);
}

.span-pink a{
  font-size: 18px;
  letter-spacing: 2px;
  color: #db3c8c;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.hover-line{
  width: 0px;
  height: 2px;
  background-color: #db3c8c;
  margin-bottom: 20px;
  transform: all 0.3s ease-in;
  position: absolute;
  top: calc(100% / 2);
  right: 400px;
  
}

.span p{
  letter-spacing: 2px;
  color: #db3c8c;
  font-weight: bold;
  margin-bottom: 20px;
}

.span span{
  letter-spacing: 2px;
}
.contact-info a{
  margin-top: 20px;
}

.contact-info svg{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}

.contact{
  width: 100%;
  text-align: center;
  
}

.footer form {
  border: 1px solid white;
  border-radius: 20px;
  width: 40%;
  margin: 0 auto;
  padding: 40px 40px;
  box-shadow: -15px 10px 100px 0px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer form input[type="text"] {
  display: block;
  border: none;
  height: 40px;
  background-color: #ddd;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

.footer form input[type="submit"] {
  border: 1px solid white;
  padding: 15px 40px;
  color: #fff;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Prompt', sans-serif;
  cursor: pointer;
}

.footer form input[type="submit"]:hover {
  border: 1px solid #fff;
  background-color: white;
  color: #042d70;
  transition: all 0.3s ease-in-out;
}

.footer form label {
  margin-left: 0px;
  color: white;
  font-size: 24px;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 5px;
}

.credits {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 12px;
  border-top: 1px solid #fff;
  margin-top: 50px;
}

.credits p {
  color: white;
}



.contact h3 span{
  font-family: 'Prompt', sans-serif;
  font-size: 64px;
  color: #db3c8c;
  font-style: italic;
}



.contact h3 {
  font-family: 'Prompt', sans-serif;
  font-size: 64px;
  color: #042d70;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-weight: bold;
  
}

form div {
  width: 100%;
}


.contact p {
  color: #042d70;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0 500px;

}

.counter-container {
  display: flex;
  color: #fff;
  font-family: 'Prompt', sans-serif;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  position: relative;
  z-index: 1;
}

.counter-container span {
  font-size: 80px;
  font-family: 'Prompt', sans-serif;
  color: #db3c8c;

}
.counter-container p {
  font-size: 100px;
  font-family: 'Prompt', sans-serif;
  margin-right: 10px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 5px;
}

.counter {
  align-self: center;
}

#counter{
  color: #fff;
}

.years {
  color: #042d70;
  font-size: 48px !important;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

.learning-row {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.learning-container {
  padding-top: 50px;
  position: relative;
  z-index: 1;
  
}

.learning-container h2 {
  padding-left: 100px;
  margin-bottom: 20px;
  color: #db3c8c;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 32px;
}

.learning-description {
  padding: 0 50px;
  width: 60%;
}

.year {
  font-weight: bold;
  width: 20%;
}

.institution {
  font-weight: bold;
  width: 30%;
}

.gradient-border {
  width: 95%;
  padding: 2px 0;
  border-radius: 100%;
  border: none;
  margin: 10px auto;
  background: linear-gradient(
    269deg,
    #db3c8c,
    #404040,
    #ffffff,
    #db3c8c,
    #404040,
    #ffffff,
    #db3c8c,
    #404040,
    #ffffff,
    #db3c8c
  );
  background-size: 2000% 2000%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  -o-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

.learning-table {
  padding: 0 100px;
}

.learning-table span, div{
  font-size: 18px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
}
.animateme {
  animation: myanim 2s;
}
.noanimfornow {
  opacity: 0;
}
.fixed-bar{
  position: absolute;
  width: 100%;
  z-index: 2;
}

.bar-content{
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
}



.nav{
  position: fixed;
  top: 0;
  left: 0;
 width: 100%;
 padding: 20px 0px;
 z-index: 2;

 backdrop-filter: blur(10px);
 

}
.nav ul{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  width: 30%;
  margin: 0 auto;
}

.nav ul li{
  text-align: center;
  cursor: pointer;
  text-align: center;
}

.nav ul li button{
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  width: 100%;
  color: #db3c8c;
  
}

@keyframes myanim {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hidden-pic{
  display: none;
  position: absolute;
  top: -220px;
  right: 50px;
  background-color: #fff;
  width: 0;
  height: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.hidden-pic img{
  width: 200px;
  height: 200px;
  z-index: 10; 
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -12px;
  right: 10px;
}

.tabs a svg{
  width: 50px;
  height: 50px;
  fill: #042d70 !important;
  position: absolute;
  bottom: -100px;
  left: calc((100% - 50px) / 2);
  transition: all 0.3s ease-in-out;
}

.tabs a svg:hover{
  fill: #db3c8c !important;
}

.animate__zoomInUp{
  opacity: 1 !important;
}

.animate__jackInTheBox{
  opacity: 1 !important;
}

.animate__lightSpeedInLeft{
  opacity: 1 !important;
}

.animate__flipInX{
  opacity: 1 !important;
}

.animate__bounceInDown{
  opacity: 1 !important;
}

.animate__rotateInDownLeft{
  opacity: 1 !important;
}

.animate__rotateInDownRight{
  opacity: 1 !important;
}

.animate__fadeInLeft{
  opacity: 1 !important;
}






/* .learning-row::before{
  content: "";
  border: 1px solid red;
  background: conic-gradient(#000000,#404040,#7f7f7f,	#bfbfbf,#ffffff);
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: spin 1.5s infinite linear;
}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
} */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1750px) {
  .project-picture-grocery {
    width: 500px;
    height: 300px;
  }
  .contact p {
    padding: 0 300px;
  
  }


}


@media only screen and (max-width: 1500px) {
  .project-picture-grocery {
    width: 400px;
    height: 250px;
  }

  .project-picture-calculator {
    width: 400px;
    height: 250px;
  }

  .project-picture-food {
    width: 400px;
    height: 250px;
  }

  .project-info{
    right: 200px;
  }

  .projects-title{
    padding-bottom: 100px;
  }
  .contact p {
    padding: 0 200px;
  
  }
}


